<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
.divid {
        display: flex;
        justify-content: space-between;
}
</style>
<body> 
   
   <h1> welocme: {{request.session.first}} </h1> 
   <hr>
<form action="/add_book" method="POST">
    {% csrf_token %}
   <div class="divid">
   
   <div>
   <input type="text" placeholder="Titel" name="title"><br>
   <input type="text" name="description" placeholder="description" ><br>
   <input type="submit" name="" >
   </div>
    <div>
      
    <h1> All the books</h1>
    
    <a href="">{{x.title}}</a>
</form>
    </div>
   </div>
</body>
</html>