<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{book.title}}</h1>
    <h2>{{book.id}}</h2>
    <label for="desc">Description</label>
    <textarea>{{book.desc}}</textarea>
    <ul>
        <li>
            Authors
        
            <ul>
               {%for i in book.authors.values%}
               <li> {{i.first_name}} {{i.last_name}} </li>
               {%endfor%}
            </ul>
        </li>
    </ul>
    <form action="/addauthorbook/{{book.id}}" method="post">
        {% csrf_token %}
        <select name="id">
            {%for i in z%}
            <option value="{{i.id}}">{{i.first_name}} {{i.last_name}}</option>
            {%endfor%}
        </select>
        <input type="submit">
    </form>
</body>
</html>